# {{ ansible_managed }}

{% set listen = ["-H " + docker.listen_addr, "-H " + docker.listen_sock]|join(' ') %}
{% set registry = "" %}
{% if docker_insecure_registry is defined %}
{% set registry = "--insecure-registry " + docker_insecure_registry %}
{% endif %}

DOCKER_OPTS="{{ registry }} {{ listen }}"
