# {{ ansible_managed }}

{% set listen = ["-H " + docker.listen_addr, "-H " + docker.listen_sock, "-H fd://"]|join(' ') %}
{% set registry = "" %}
{% if docker_insecure_registry is defined %}
{% set registry = "--insecure-registry " + docker_insecure_registry %}
{% endif %}

[Unit]
Description=Docker Application Container Engine
Documentation=https://docs.docker.com
After=network.target docker.socket
Requires=docker.socket

[Service]
Type=notify
ExecStart=/usr/bin/docker daemon {{ registry }} {{ listen }}
MountFlags=slave
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=infinity
TimeoutStartSec=0
# set delegate yes so that systemd does not reset the cgroups of docker containers
Delegate=yes

[Install]
WantedBy=multi-user.target
